<table [ngStyle]="tableStyle">
  <tr>
    <th *ngFor="let title of header" [ngStyle]="tdthStyle">{{title}}</th>
  </tr>
  <tr>
    <td [ngStyle]="tdthStyle">{{id}}</td>
    <td [ngStyle]="tdthStyle">{{stock.name}}</td>
    <td [ngStyle]="tdthStyle">{{stock.code}}</td>
    <td [ngStyle]="tdthStyle">{{stock.price}}</td>
    <td [ngStyle]="tdthStyle">{{stock.previousPrice}}</td>
    <td [ngStyle]="tdthStyle">{{stock.favorite}}</td>
    <td [ngStyle]="tdthStyle"><div><button (click)="beengo()">modify</button></div></td>
  </tr>
</table>
<br/>
