<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<nav>
  <a routerLink="/stocks/list" routerLinkActive="active">Beego</a>
</nav>
<!--<app-infolist></app-infolist>-->
<router-outlet></router-outlet>

